#info_box
{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#info_box
{
    color: inherit;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    background-color: #F8F8F8;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    display: grid;
    grid-template-rows: 2fr 1fr minmax(100px, auto);
    grid-template-columns: 4fr 1fr;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #info_box {
      display: block;
    }
}

#container
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:1;
    grid-column-end:3;
}

#info_box > *.title
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:2;
    order: 0;
    font-size: 30px;
}
#info_box > *.shortDescription
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:2;
    order: 1;
}
#info_box > *.dateTimeBox
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:3;
    order: 2;
}
#info_box > *.creationDateTime
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:2;
    order: 0;
}
#info_box > *.editDateTime
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end:2;
    order: 1;
}
#info_box > *.author
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end:2;
    order: 3;
}
#info_box > *.followers
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:3;
    order: 4;
}