.MainContainer
{
    background: #F8F8F8;
    border: solid 1px #e7e7e7;
    border-radius: 25px;
}

.MainContainer > *
{
    text-align: center;
}

.MC-button>*
{
    cursor: pointer;
    
    transition-duration: 0.5s;
}

.MC-button:hover >*
{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

body
{
    padding-top: 60px;
    padding-bottom: 10px;
}